#cssInput {
    width: 100%;
    min-height: 20em;
    resize: vertical;
    padding: 1em;
}

#cssPreview,
#svgPreview {
    max-width: 100%;
    width: calc(var(--outputWidth) * 1px);
    max-height: 500px;
    aspect-ratio: var(--outputWidth) / var(--outputHeight);
    border-radius: 4px;
}

#svgPreview {
    width: auto;
    height: auto;
}

body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    padding: 20px;
    grid-gap: 40px;
    grid-template-columns: 1.5fr 1fr;
}

section {
    min-width: 0;
}