#cssInput {
    width: 100%;
    min-height: 20em;
    resize: vertical;
    padding: 1em;
}

#cssPreview,
#svgPreview {
    width: 100%;
    aspect-ratio: 1.77777777778;
    border-radius: 4px;
}

body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    padding: 20px;
    grid-gap: 40px;
    grid-template-columns: 1.5fr 1fr;
}